<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>15176559896-t82e80kttrbaa14beuai8ck056803ao1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.15176559896-t82e80kttrbaa14beuai8ck056803ao1</string>
	<key>API_KEY</key>
	<string>AIzaSyBcAocuwfk9td8hpTYnHPbf08MlxlMwumI</string>
	<key>GCM_SENDER_ID</key>
	<string>15176559896</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.karlmcgeough.TestStore</string>
	<key>PROJECT_ID</key>
	<string>superbeansstore</string>
	<key>STORAGE_BUCKET</key>
	<string>superbeansstore.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:15176559896:ios:11775ce7111efbf374026d</string>
	<key>DATABASE_URL</key>
	<string>https://superbeansstore.firebaseio.com</string>
</dict>
</plist>